<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-zohosalesiq-mobilisten" version="4.2.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ZohoSalesIQ</name>
    <js-module name="ZohoSalesIQ" src="www/ZohoSalesIQ.js">
        <clobbers target="ZohoSalesIQ" />
    </js-module>
    <platform name="ios">
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Mobilisten" spec="5.4.1" />
            </pods>
        </podspec>
        <config-file parent="/*" target="config.xml">
            <feature name="ZohoSalesIQPlugin">
                <param name="ios-package" value="ZohoSalesIQPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/ZohoSalesIQPlugin.m" />
    </platform>
    <platform name="android">
        <framework custom="true" src="src/android/zohosalesIQ.gradle" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZohoSalesIQPlugin">
                <param name="android-package" value="com.zohosalesiq.mobilisten.ZohoSalesIQPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ZohoSalesIQPlugin.java" target-dir="src/com/zohosalesiq/mobilisten" />
    </platform>
</plugin>
